@use "../index" as *;

.average {
    padding: 24px 28px 81px 65px;

    @include tablet {
        padding-inline: 30px;
    }

    @include mobile {
        position: relative;
    }

    &__get-link {
        display: block;
        margin-left: auto;
        width: 52px;
        height: 52px;
        padding: 12px;
        border: 1px solid var(--color-purple-gray-550);
        border-radius: 50%;
        color: var(--color-purple-gray-550);
        transition: all var(--transition);

        @include desktop-screen {

            &:hover,
            &:active,
            &:focus-visible,
            &:focus:not(:focus-visible):hover {
                color: var(--color-purple-gray-400);
                border-color: var(--color-purple-gray-400);
            }

            &:focus:not(:focus-visible) {
                color: var(--color-purple-gray-550);
                border-color: var(--color-purple-gray-550);
            }
        }

        @include touch-screen {

            &:active {
                color: var(--color-purple-gray-400);
                border-color: var(--color-purple-gray-400);
            }

            &:hover,
            &:focus-visible,
            &:focus:not(:focus-visible):hover,
            &:focus:not(:focus-visible) {
                color: var(--color-purple-gray-550);
                border-color: var(--color-purple-gray-550);
            }
        }

        @include mobile {
            position: absolute;
            top: 24px;
            right: 24px;
        }
    }

    &__title {
        @include fluid-text(32, 18);
        @include font(var(--third-family), 400, 1);
        color: var(--color-purple-gray-500);

        @include mobile {
            margin-top: 15px;
        }
    }

    &__list {
        margin-top: 20px;
        margin-left: 15px;
    }

    &__list-item {
        @include fluid-text(16, 12);
        @include font(var(--font-family), 400, 1.5);
        color: var(--color-purple-gray-500);
        list-style-type: disc;
    }
}