@use "../index" as *;

.footer {

    &__row--main {
        padding-top: 45px;

        @include tablet {
            column-gap: 15%;
            row-gap: 50px;
            flex-wrap: wrap;
        }

        @include mobile {
            flex-wrap: nowrap;
            flex-direction: column;
        }

        @include mobile-small {
            padding-top: 25px;
            row-gap: 0;
        }
    }

    &__column {
        width: auto;

        @include mobile {
            width: 100% !important;
        }
    }

    &__column--logo {
        @include tablet {
            width: 25%;
        }
    }

    &__logo-link {
        display: block;
        margin-top: 15px;

        @include mobile-small {
            margin-top: 0;
        }

        @include mobile-small {
            width: 102px;
            height: 31px;
        }
    }

    &__column--title {
        margin-left: 7%;

        @include laptop {
            margin-left: 0;
        }

        @include tablet {
            width: 60%;
        }

        @include mobile-small {
            margin-top: 42px;
        }
    }

    &__title {
        @include fluid-text(32, 20);
        @include font(var(--font-family), 300, 1);
        color: var(--color-purple-gray-300);
        max-width: 560px;

        @include laptop {
            max-width: 350px;
        }

        @include tablet {
            max-width: 60%;
        }

        @include mobile {
            max-width: 80%;
        }
    }

    &__column--contacts {
        margin-left: 10%;

        @include laptop {
            margin-left: 0;
        }

        @include tablet {
            width: 25%;
        }

        @include mobile {
            order: 4;
        }

        @include mobile-small {
            margin-top: 45px;
        }
    }

    &__subtitle {
        @include fluid-text(18, 14);
        @include font(var(--third-family), 600, 1.33);
        color: var(--color-purple-gray-200);
        margin-bottom: 10px;
    }

    &__contact-link {
        @include fluid-text(14, 12);
        @include font(var(--font-family), 500, 1.71);
        color: var(--color-purple-gray-400);
        margin-bottom: 3px;
    }

    &__contact-link--title {
        color: var(--color-purple-gray-550);
        margin-right: 10px;
    }

    &__column--links {
        @include tablet {
            width: 60%;
        }

        @include mobile {
            order: 3;
        }

        @include mobile-small {
            margin-top: 56px;
        }
    }

    &__row--navigation {
        padding-block: 60px 25px;

        @include mobile-small {
            padding-top: 60px;
        }
    }

    &__navigation {
        width: 480px;
        margin-left: 17%;

        @include tablet {
            margin-inline: auto;
        }

        @include mobile {
            width: 80%;
        }

        @include mobile-small {
            width: 100%;
        }
    }

    &__navigation-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__navigation-list-item {
        @include fluid-text(14, 12);
        @include font(var(--font-family), 500, 1.43);
        color: var(--color-purple-gray-500);
        transition: color var(--transition);
    }
}