@use "../index" as *;

.industries {

    &__inner {}

    &__row {}

    &__content {
        display: flex;
        column-gap: 108px;
        padding-block: 65px 80px;
        padding-inline: 124px;
        border-top: var(--border-default);
    }

    &__text-wrap {}

    &__text {
        @include fluid-text(32, 18);
        @include font(var(--third-family), 400, 1.2);
        color: var(--color-purple-gray-650);
    }

    &__text--bold {
        font-weight: 700;
        color: var(--color-purple-gray-400);
    }

    &__list-wrap {
        width: 302px;
        flex-shrink: 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    &__list-item {
        & input {
            display: none;
        }

        & label {
            display: flex;
            align-items: center;
            column-gap: 21px;
            width: 100%;
            border-width: 1px;
            border-style: solid;
            padding: 24px;
            border-radius: 10px;
            @include fluid-text(19, 16);
            @include font(var(--second-family), 700, 1);
            opacity: 0.4;
            transition: opacity var(--transition);

            &.industries__label--pink {
                border-color: var(--color-pink);
                color: var(--color-pink);
            }

            &.industries__label--yellow {
                border-color: var(--color-yellow);
                color: var(--color-yellow);
            }

            &.industries__label--green {
                border-color: var(--color-green);
                color: var(--color-green);
            }

            &:has(input:checked) {
                opacity: 1;
            }
        }
    }
}