@use "../index" as *;

.partner {
    $breakpoint-content-change-direction-1250: 1250px;

    background-image: url("../../images/images/travelers.png");
    background-repeat: no-repeat;
    background-size: 880px 580px;
    background-position: bottom left;

    @media (max-width: $breakpoint-content-change-direction-1250) {
        background-size: calc(880px * 0.5) calc(580px * 0.5);
        background-position: left center;
    }

    @include mobile {
        background-image: url("../../images/images/nature.png");
        background-size: contain;
        background-position: bottom center;
    }

    &__inner {}

    &__row {
        justify-content: end;
        padding-block: 120px;

        @include mobile {
            padding-block: 60px 160px;
        }
    }

    &__column {
        @include mobile {
            width: 100%;
        }
    }

    &__form {
        display: grid;
        grid-template-rows: auto repeat(4, 60px) auto;
        grid-template-columns: repeat(2, 288px);
        grid-template-areas:
            "a a"
            "b c"
            "d e"
            "f f"
            "g g"
            "h h";
        gap: 12px;

        @include mobile {
            width: 100%;
            padding: 34px 24px 45px 24px;
            background-color: var(--color-white);
            border: var(--border-default);
            border-radius: 20px;
            grid-template-rows: 36px repeat(6, 52px) auto;
            grid-template-columns: 1fr;
            grid-template-areas:
                "a"
                "b"
                "c"
                "d"
                "e"
                "f"
                "g"
                "h";
        }
    }

    &__title {
        @include fluid-text(36, 20);
        @include font(var(--third-family), 600, 1);
        color: var(--color-purple-gray-200);
        margin-bottom: 36px;
        grid-area: a;

        @include mobile {
            text-align: center;
            margin-bottom: 0;
        }
    }

    &__input {
        padding: 23px 20px;
        border: var(--border-default);
        border-radius: 8px;
        @include fluid-text(12, 10);
        @include font(var(--font-family), 500, 1);
        color: var(--color-purple-gray-550);
        transition: transform var(--transition);
        appearance: none;
        cursor: pointer;

        &::placeholder {
            @include fluid-text(12, 10);
            @include font(var(--font-family), 500, 1);
            color: var(--color-purple-gray-550);
        }

        @include desktop-screen {

            &:hover,
            &:focus-visible {
                transform: scale(1.03);
                outline: none;
            }
        }

        @include touch-screen {

            &:hover,
            &:focus-visible {
                transform: none;
                outline: none;
            }
        }
    }

    &__input--first-name {
        grid-area: b;
    }

    &__input--last-name {
        grid-area: c;
    }

    &__input--email {
        grid-area: d;
    }

    &__input-wrap--number {
        position: relative;
        display: flex;
        transition: transform var(--transition);
        grid-area: e;

        &::after {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            top: calc(50% - 2.5px);
            left: 38px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-top: 5px solid var(--color-purple-gray-550);
            pointer-events: none;
        }

        @include desktop-screen {

            &:has(input:focus-visible),
            &:has(select:focus-visible) {
                transform: scale(1.03);
            }

            &:hover {
                transform: scale(1.03);
            }
        }
    }

    &__input--country-code {
        padding-right: 27px;
        padding-block: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;

        & option {
            @include fluid-text(14, 14);
            color: var(--color-purple-gray-550);
            padding: 10px;
        }

        @include desktop-screen {

            &:hover,
            &:focus-visible {
                transform: none;
            }
        }
    }

    &__input--phone-number {
        padding-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
        flex-grow: 1;

        @include desktop-screen {

            &:hover,
            &:focus-visible {
                transform: none;
            }
        }
    }

    &__input--business-name {
        grid-area: f;
    }

    &__select-wrap--employees-amount {
        position: relative;
        grid-area: g;
        transition: transform var(--transition);

        @include desktop-screen {

            &:hover,
            &:focus-visible,
            &:has(select:focus-visible) {
                transform: scale(1.03);
                outline: none;
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            top: calc(50% - 2.5px);
            right: 20px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-top: 5px solid var(--color-purple-gray-550);
            pointer-events: none;
        }
    }

    &__input--employees-amount {
        width: 100%;
        height: 100%;
        padding-block: 0;

        & option {
            @include fluid-text(14, 14);
            color: var(--color-purple-gray-550);
            padding: 10px;
        }

        @include desktop-screen {

            &:hover,
            &:focus-visible {
                transform: none;
                outline: none;
            }
        }
    }

    &__submit-wrap {
        position: relative;
        display: flex;
        align-items: center;
        column-gap: 8px;
        margin-top: 42px;
        grid-area: h;

        @include mobile {
            flex-direction: column;
            margin-top: 0;
            row-gap: 16px;
        }
    }

    &__input--submit {
        width: auto !important;
        align-items: center;
        padding-inline: 25px;
        column-gap: 8px;

        @include mobile {
            padding: 0;
            width: 100% !important;
        }
    }

    &__info-text {
        @include fluid-text(14, 10);
        @include font(var(--font-family), 500, 1);
        color: var(--color-purple-gray-600);

        @include mobile {
            text-align: center;
        }
    }

    &__error-text {
        position: absolute;
        top: 80px;
        left: 0;
        display: none;
        @include fluid-text(14, 10);
        @include font(var(--font-family), 500, 1);
        color: var(--color-red);
        margin-top: 5px;

        @include mobile {
            top: 100px;
            width: 100%;
            text-align: center;
        }
    }
}