@use "../index" as *;

.review {
    $breakpoint-content-change-direction-1250: 1250px;

    &__inner {
        @include mobile {
            padding-top: 50px;
        }

        @include mobile-small {
            padding-top: 32px;
        }
    }

    &__row {
        padding-top: 132px;
        padding-bottom: 25px;

        @include laptop {
            column-gap: 144px;
        }

        @media (max-width: $breakpoint-content-change-direction-1250) {
            column-gap: 24px;
        }

        @include tablet {
            flex-direction: column;
            row-gap: 48px;
            padding-top: 90px;
        }

        @include mobile {
            padding-top: 40px;
            border-top: var(--border-default);
        }

        @include mobile-small {
            padding-top: 20px;
            row-gap: 16px;
        }
    }

    &__column--quote {
        row-gap: 60px;

        @include mobile {
            row-gap: 40px;
        }

        @include mobile-small {
            row-gap: 20px;
        }
    }

    &__title {
        @include fluid-text(48, 20);
        @include font(var(--third-family), 400, 1.12);
        color: var(--color-purple-gray-300);
        max-width: 500px;

        @include laptop {
            max-width: 400px;
        }

        @media (max-width: $breakpoint-content-change-direction-1250) {
            max-width: 350px;
        }

        @include mobile-small {
            width: 60%;
        }
    }

    &__title--bold {
        font-weight: 700;
    }

    &__title--quote {
        color: var(--color-pink-alt);
    }

    &__column--content {
        flex: 1;
    }

    &__slider {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include laptop {
            align-items: start;
        }

        @include tablet {
            align-items: center;
        }
    }

    &__slide-wrap {
        position: relative;
        width: 100%;

        @include laptop {
            width: auto;
        }
    }

    &__slide {
        position: relative;
        width: 545px;
        height: 385px;
        padding: 50px;
        background-color: var(--color-white);
        border: var(--border-default);
        border-radius: 32px;
        box-shadow: -10px 30px 50px 0 rgba(137, 169, 218, 0.09);
        margin-inline: auto;
        transform-origin: center;
        opacity: 0;
        animation: review-flip-in 0.3s forwards;
        z-index: 9;

        @include laptop {
            padding: 35px;
            width: 470px;
        }

        @include mobile {
            width: 100%;
            height: auto;
            padding-bottom: 50px;
        }

        @include mobile-small {
            padding: 23px;
            padding-bottom: 40px;
        }
    }

    &__rating-wrap {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }

    &__star {
        color: var(--color-yellow-alt);
    }

    &__star--gray {
        color: var(--color-purple-gray-800);
    }

    &__rating {
        @include fluid-text(14, 14);
        @include font(var(--font-family), 500, 1);
        color: var(--color-purple-gray-300);
    }

    &__username {
        display: block;
        @include fluid-text(22, 16);
        @include font(var(--font-family), 700, 1);
        color: var(--color-purple-gray-200);
        margin-top: 50px;

        @include mobile-small {
            margin-top: 20px;
        }
    }

    &__user-details {
        display: block;
        @include fluid-text(14, 10);
        @include font(var(--font-family), 500, 1.2);
        color: var(--color-purple-gray-600);
        margin-top: 7px;
    }

    &__text {
        @include fluid-text(16, 12);
        @include font(var(--font-family), 400, 1.75);
        color: var(--color-purple-gray-550);
        margin-top: 25px;
        max-height: 112px;
        overflow: hidden;

        @include laptop {
            max-height: 100%;
            overflow: scroll;
        }
    }

    &__button-toggle {
        position: absolute;
        display: flex;
        width: 250px;
        height: 304px;
        border-radius: 32px;
        border: 3px dashed var(--color-purple-700);
        color: var(--color-purple-700);
        top: 37px;
        right: 0;
        justify-content: center;
        align-items: center;
        transition: transform var(--transition);

        &:hover {
            transform: scale(1.05);
        }

        @include laptop {
            right: -35%;
        }

        @media (max-width: $breakpoint-content-change-direction-1250) {
            width: 180px;
            right: -27%;
        }

        @include mobile {
            display: none;
        }
    }

    &__pagination-list {
        display: flex;
        column-gap: 12px;
        margin-top: 20px;

        @include laptop {
            margin-left: 160px;
        }

        @include tablet {
            margin-left: 0;
        }
    }

    &__label {
        display: block;
        width: 28px;
        height: 28px;
        border: 8px solid var(--color-white);
        outline: var(--border-default);
        border-radius: 50%;
        transition: background-color var(--transition);

        & input {
            display: none;
        }
    }

    &__label--active {
        background-color: var(--color-purple-500) !important;
    }
}