@use "../index" as *;

.salesforce {

    &__row {
        @include laptop {
            column-gap: 48px;
        }

        @include mobile {
            flex-direction: column;
            row-gap: 36px;
        }
    }

    &__column {
        width: 50%;
    }

    &__column--info {
        padding-top: 196px;
        row-gap: 100px;
        flex: 1;

        @media (max-width: 1335px) {
            padding-top: 100px;
            row-gap: 60px;
        }

        @include tablet {
            padding-top: 90px;
            row-gap: 40px;
        }

        @include mobile {
            width: 100%;
        }

        @include mobile-small {
            padding-top: 55px;
        }
    }

    &__text-wrap {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        max-width: 640px;

        @include mobile-small {
            row-gap: 12px;
        }
    }

    &__title {
        @include fluid-text(64, 32);
        @include font(var(--third-family), 400, 1.12);
        color: var(--color-purple-gray-100);
    }

    &__title--small {
        @include fluid-text(48, 24);
        vertical-align: 0.1em;
    }

    &__title--bold {
        font-weight: 600;
    }

    &__description {
        @include fluid-text(18, 14);
        @include font(var(--font-family), 400, 1.56);
        color: var(--color-purple-gray-400);
    }

    // This section uses local media queries
    // and SCSS variables to adapt the decorative image

    &__column--image {
        position: relative;
        padding-top: 117px;
        width: 625px;

        &::before {
            content: "";
            display: block;
            position: absolute;
            bottom: -146px;
            left: -89px;
            width: 480px;
            height: 480px;
            background-image: url("../../images/icons/dots.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 183px;
            right: -138px;
            width: 139px;
            height: 239px;
            background-image: url("../../images/icons/branch.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            animation: salesforce-svg-element-loading 0.8s forwards;
        }

        @media (max-width: 1840px) {
            margin-right: 139px;
        }

        @media (max-width: 1335px) {
            $scale-ratio: 0.6;

            width: calc(625px * $scale-ratio);
            padding-top: calc(117px * $scale-ratio);
            margin-right: calc(139px * $scale-ratio);

            &::before {
                bottom: 0;
                top: 310px;
                left: -110px;
                width: calc(480px * $scale-ratio);
                height: calc(480px * $scale-ratio);
            }

            &::after {
                top: calc(183px * $scale-ratio);
                right: calc(-138px * $scale-ratio);
                width: calc(139px * $scale-ratio);
                height: calc(239px * $scale-ratio);
            }
        }

        @include tablet {
            $scale-ratio: 0.4;
            $x-indent: 60px;

            width: calc(625px * $scale-ratio);
            padding-top: calc(117px * $scale-ratio) + $x-indent;
            margin-right: calc(139px * $scale-ratio);

            &::before {
                bottom: 0;
                top: 230px + $x-indent;
                left: -85px;
                width: calc(480px * $scale-ratio);
                height: calc(480px * $scale-ratio);
            }

            &::after {
                top: calc(183px * $scale-ratio) + $x-indent;
                right: calc(-138px * $scale-ratio);
                width: calc(139px * $scale-ratio);
                height: calc(239px * $scale-ratio);
            }
        }
    }

    &__decoration {
        position: absolute;
        top: 68px;
        left: 0;
        width: 197px;
        height: 197px;
        border: 1px solid var(--color-purple-gray-900);
        border-radius: 30px;
        box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.25);
        animation: salesforce-decoration-element-loading 0.8s forwards;

        @media (max-width: 1335px) {
            $scale-ratio: 0.6;

            top: 50px;
            left: -35px;
            border-radius: 18px;
            width: calc(197px * $scale-ratio);
            height: calc(197px * $scale-ratio);
        }

        @include tablet {
            $scale-ratio: 0.4;
            $x-indent: 60px;

            top: 30px + $x-indent;
            left: -25px;
            border-radius: 15px;
            width: calc(197px * $scale-ratio);
            height: calc(197px * $scale-ratio);
        }
    }

    &__image {
        margin-left: auto;
        user-select: none;
        pointer-events: none;
        z-index: 99;
        position: relative;
        right: 0;
        animation: salesforce-image-loading 0.8s forwards;
    }

    &__column--mobile-image {
        position: relative;
        width: 100%;
    }

    &__image--mobile-wrap {
        position: relative;
        width: 335px;
        margin-inline: auto;
        z-index: 99;

        &::before {
            content: "";
            display: block;
            position: absolute;
            bottom: -110px;
            left: -110px;
            width: 269px;
            height: 269px;
            background-image: url("../../images/icons/dots.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            z-index: -1;
        }
    }

    &__image--mobile {
        user-select: none;
        pointer-events: none;
        position: relative;
        animation: salesforce-image-loading 0.8s forwards;
    }
}