@keyframes header-navigation-slide-in {
    from {
        left: -30px;
        opacity: 0;
    }

    to {
        left: 0px;
        opacity: 1;
    }
}

@keyframes header-navigation-slide-out {
    from {
        left: 0px;
        opacity: 1;
    }

    to {
        left: 30px;
        opacity: 0;
    }
}

@keyframes header-navigation-show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}