@keyframes slide-in {
    from {
        left: -30px;
        opacity: 0;
    }

    to {
        left: 0px;
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        left: 0px;
        opacity: 1;
    }

    to {
        left: 30px;
        opacity: 0;
    }
}