@font-face {
  src: url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../fonts/HeptaSlab-Light.woff2") format("woff2");
  font-family: "HeptaSlab";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../fonts/HeptaSlab-Regular.woff2") format("woff2");
  font-family: "HeptaSlab";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../fonts/HeptaSlab-SemiBold.woff2") format("woff2");
  font-family: "HeptaSlab";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../fonts/HeptaSlab-Bold.woff2") format("woff2");
  font-family: "HeptaSlab";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: none;
}

body {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

/**
  Normalization of the block model
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
   Remove internal left margins for lis
   tags that have a class attribute
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Remove internal left margins for list
   tags that have a class attribute
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   We remove the outer vertical indents
   for the necessary tags, which have
   the class attribute
  */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Remove the standard marker for
   a bulleted list that has
   a class attribute
  */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
   Zero out the vertical margins of the paragraph,
   declare a local variable for the margin down,
   to avoid interaction with a more complex selector
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   The outer margin down for a paragraph without
   a class attribute that is not the last
   among its neighbors
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Simplifying work with images and videos
  */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
   Inherit font properties for input fields
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
   It will be useful in most situations
   (for example, when you need to "press"
   the footer to the bottom of the site)
  */
  height: 100%;
  /**
   Remove horizontal interface jump when
   scrollbar appears/disappears
  */
  scrollbar-gutter: stable;
}

/**
   Smooth scrolling
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
   It will be useful in most situations
   (for example, when you need to "press"
   the footer to the bottom of the site)
  */
  min-height: 100%;
  /**
   Unified leading
  */
  line-height: 1.5;
}

/**
   Normalize the height of a link element
   when inspecting it in DevTools
  */
a:where([class]) {
  display: inline-flex;
}

/**
   Hand cursor when hovering over an element
  */
button,
label {
  cursor: pointer;
}

/**
   We bring svg elements to a single color
   (except for those that already have
   a fill attribute with a value of 'none'
   or start with 'url')
  */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
   We bring svg elements to a single color
   (except for those that already have
   the stroke attribute specified with
   the value 'none')
  */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
   Fixing a bug with delayed color
   change when interacting with svg elements
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Bringing table frames to the classic 'collapse' look
  */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
   Remove all animations and transitions
   for people who prefer not to use them
  */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  display: flex;
  flex-direction: column;
  max-width: var(--container-width-default);
  width: 100%;
  margin-inline: auto;
}
@media (max-width: 1540px) {
  .container {
    padding-inline: var(--container-padding-inline);
  }
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.mobile-hidden {
  display: flex !important;
}
@media (max-width: 768px) {
  .mobile-hidden {
    display: none !important;
  }
}

.mobile-visible {
  display: none !important;
}
@media (max-width: 768px) {
  .mobile-visible {
    display: flex !important;
  }
}

.overlay {
  position: absolute !important;
  z-index: 999 !important;
}

:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-purple-100: #0e123c;
  --color-purple-200: #181c50;
  --color-purple-250: #212763;
  --color-purple-300: #2b3177;
  --color-purple-350: #3f469f;
  --color-purple-400: #525bc6;
  --color-purple-500: #6670ee;
  --color-purple-600: #858df1;
  --color-purple-700: #a3a9f5;
  --color-purple-750: #c2c6f8;
  --color-purple-800: #d1d4fa;
  --color-purple-900: #e0e2fc;
  --color-purple-gray-100: #1a1a29;
  --color-purple-gray-200: #26273a;
  --color-purple-gray-300: #33344b;
  --color-purple-gray-400: #3f415c;
  --color-purple-gray-500: #595a7e;
  --color-purple-gray-550: #7274a0;
  --color-purple-gray-600: #8b8ec2;
  --color-purple-gray-650: #a2a5ce;
  --color-purple-gray-700: #b9bbda;
  --color-purple-gray-800: #d1d2e7;
  --color-purple-gray-900: #dcdded;
  --color-red: #FF1600;
  --color-pink: #F95993;
  --color-yellow: #FFA901;
  --color-green: #5EC697;
  --border-default: 1px solid var(--color-purple-gray-650);
  --font-family: "Montserrat", sans-serif;
  --second-family: "Roboto", sans-serif;
  --third-family: "HeptaSlab", serif;
  --container-padding-inline: 24px;
  --container-width-default: 1500px;
  --max-viewport-width: 1920px;
  --min-viewport-width: 375px;
  --button-padding-block: 21px;
  --button-padding-block-small: 12px;
  --input-padding-block: 24px;
  --transition: 0.4s ease;
}

@keyframes header-navigation-slide-in {
  from {
    left: -30px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
@keyframes header-navigation-slide-out {
  from {
    left: 0px;
    opacity: 1;
  }
  to {
    left: 30px;
    opacity: 0;
  }
}
@keyframes header-navigation-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes burger-menu-open {
  from {
    top: -500px;
  }
  to {
    top: 75px;
  }
}
@keyframes burger-menu-close {
  from {
    top: 75px;
  }
  to {
    top: -500px;
  }
}
@keyframes salesforce-image-loading {
  from {
    opacity: 0;
    right: -100px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}
@keyframes salesforce-svg-element-loading {
  from {
    opacity: 0.5;
    right: -238px;
  }
  to {
    opacity: 1;
    right: -138px;
  }
}
@keyframes salesforce-decoration-element-loading {
  from {
    opacity: 0.5;
    left: -100px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@media (max-width: 1335px) {
  @keyframes salesforce-svg-element-loading {
    from {
      opacity: 0.5;
      right: -182.8px;
    }
    to {
      opacity: 1;
      right: -82.8px;
    }
  }
  @keyframes salesforce-decoration-element-loading {
    from {
      opacity: 0.5;
      left: -135px;
    }
    to {
      opacity: 1;
      left: -35px;
    }
  }
}
@media (max-width: 1024px) {
  @keyframes salesforce-svg-element-loading {
    from {
      opacity: 0.5;
      right: -155.2px;
    }
    to {
      opacity: 1;
      right: -55.2px;
    }
  }
  @keyframes salesforce-decoration-element-loading {
    from {
      opacity: 0.5;
      left: -125px;
    }
    to {
      opacity: 1;
      left: -25px;
    }
  }
}
.header {
  position: relative;
  z-index: 1000;
  background-color: var(--color-white);
  border-block: var(--border-default);
}
.header__row {
  position: relative;
  padding-block: 22px;
  align-items: center;
}
.header__logo {
  height: auto;
}
@media (max-width: 1540px) {
  .header__logo {
    width: 100px;
  }
}
@media (max-width: 1024px) {
  .header__logo {
    width: 72px;
  }
}
@media (max-width: 768px) {
  .header__logo {
    width: 102px;
  }
}
.header__column--navigation {
  flex-grow: 1;
}
.header__navigation-list {
  display: flex;
  column-gap: 48px;
  justify-content: end;
  padding-right: 120px;
}
@media (max-width: 1540px) {
  .header__navigation-list {
    justify-content: center;
    padding-right: 0;
    column-gap: 24px;
  }
}
@media (max-width: 1024px) {
  .header__navigation-list {
    column-gap: 12px;
  }
}
.header__navigation-link {
  font-size: clamp(0.5rem, 0.3786407767rem + 0.5177993528vw, 1rem);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-purple-200);
  position: relative;
}
.header__navigation-link::after {
  opacity: 0;
  content: "";
  position: absolute;
  bottom: -8px;
  left: -30px;
  width: 100%;
  height: 5px;
  background: url("../../images/icons/wave-link-bottom.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 5px;
  transition: opacity var(--transition), left var(--transition);
  pointer-events: none;
}
.header__navigation-link:hover {
  color: var(--color-purple-200);
}
.header__navigation-link:hover::after {
  animation: header-navigation-slide-in var(--transition) forwards;
}
.header__navigation-link:not(:hover)::after {
  animation: header-navigation-slide-out var(--transition) forwards;
}
.header__navigation-link:focus-visible {
  color: var(--color-purple-200);
}
.header__navigation-link:focus-visible::after {
  animation: header-navigation-slide-in var(--transition) forwards;
}
@media (hover: none) {
  .header__navigation-link:hover::after, .header__navigation-link:not(:hover)::after {
    display: none;
  }
  .header__navigation-link:active::after {
    animation: header-navigation-show var(--transition) forwards;
    left: 0;
    opacity: 1;
    display: block;
  }
}

@media (max-width: 1540px) {
  .salesforce__row {
    column-gap: 48px;
  }
}
@media (max-width: 768px) {
  .salesforce__row {
    flex-direction: column;
    row-gap: 36px;
  }
}
.salesforce__column {
  width: 50%;
}
.salesforce__column--info {
  padding-top: 196px;
  row-gap: 100px;
  flex: 1;
}
@media (max-width: 1335px) {
  .salesforce__column--info {
    padding-top: 100px;
    row-gap: 60px;
  }
}
@media (max-width: 1024px) {
  .salesforce__column--info {
    padding-top: 90px;
    row-gap: 40px;
  }
}
@media (max-width: 768px) {
  .salesforce__column--info {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .salesforce__column--info {
    padding-top: 55px;
  }
}
.salesforce__text-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 640px;
}
@media (max-width: 480px) {
  .salesforce__text-wrap {
    row-gap: 12px;
  }
}
.salesforce__title {
  font-size: clamp(2rem, 1.5145631068rem + 2.071197411vw, 4rem);
  font-family: var(--third-family);
  font-weight: 400;
  line-height: 1.12;
  color: var(--color-purple-gray-100);
}
.salesforce__title--small {
  font-size: clamp(1.5rem, 1.1359223301rem + 1.5533980583vw, 3rem);
  vertical-align: 0.1em;
}
.salesforce__title--bold {
  font-weight: 600;
}
.salesforce__description {
  font-size: clamp(0.875rem, 0.8143203883rem + 0.2588996764vw, 1.125rem);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.56;
  color: var(--color-purple-gray-400);
}
.salesforce__link-wrap {
  display: flex;
  column-gap: 24px;
  align-items: center;
}
.salesforce__separation {
  width: 1px;
  height: 20px;
  background-color: var(--color-purple-gray-800);
}
.salesforce__column--image {
  position: relative;
  padding-top: 117px;
  width: 625px;
}
.salesforce__column--image::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -146px;
  left: -89px;
  width: 480px;
  height: 480px;
  background-image: url("../../images/icons/dots.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.salesforce__column--image::after {
  content: "";
  display: block;
  position: absolute;
  top: 183px;
  right: -138px;
  width: 139px;
  height: 239px;
  background-image: url("../../images/icons/branch.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: salesforce-svg-element-loading 0.8s forwards;
}
@media (max-width: 1840px) {
  .salesforce__column--image {
    margin-right: 139px;
  }
}
@media (max-width: 1335px) {
  .salesforce__column--image {
    width: 375px;
    padding-top: 70.2px;
    margin-right: 83.4px;
  }
  .salesforce__column--image::before {
    bottom: 0;
    top: 310px;
    left: -110px;
    width: 288px;
    height: 288px;
  }
  .salesforce__column--image::after {
    top: 109.8px;
    right: -82.8px;
    width: 83.4px;
    height: 143.4px;
  }
}
@media (max-width: 1024px) {
  .salesforce__column--image {
    width: 250px;
    padding-top: 106.8px;
    margin-right: 55.6px;
  }
  .salesforce__column--image::before {
    bottom: 0;
    top: 290px;
    left: -85px;
    width: 192px;
    height: 192px;
  }
  .salesforce__column--image::after {
    top: 133.2px;
    right: -55.2px;
    width: 55.6px;
    height: 95.6px;
  }
}
.salesforce__decoration {
  position: absolute;
  top: 68px;
  left: 0;
  width: 197px;
  height: 197px;
  border: 1px solid var(--color-purple-gray-900);
  border-radius: 30px;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.25);
  animation: salesforce-decoration-element-loading 0.8s forwards;
}
@media (max-width: 1335px) {
  .salesforce__decoration {
    top: 50px;
    left: -35px;
    border-radius: 18px;
    width: 118.2px;
    height: 118.2px;
  }
}
@media (max-width: 1024px) {
  .salesforce__decoration {
    top: 90px;
    left: -25px;
    border-radius: 15px;
    width: 78.8px;
    height: 78.8px;
  }
}
.salesforce__image {
  margin-left: auto;
  user-select: none;
  pointer-events: none;
  z-index: 99;
  position: relative;
  right: 0;
  animation: salesforce-image-loading 0.8s forwards;
}
.salesforce__column--mobile-image {
  position: relative;
  width: 100%;
}
.salesforce__image--mobile-wrap {
  position: relative;
  width: 335px;
  margin-inline: auto;
  z-index: 99;
}
.salesforce__image--mobile-wrap::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -110px;
  left: -110px;
  width: 269px;
  height: 269px;
  background-image: url("../../images/icons/dots.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.salesforce__image--mobile {
  user-select: none;
  pointer-events: none;
  position: relative;
  animation: salesforce-image-loading 0.8s forwards;
}

@media (max-width: 1024px) {
  .services__inner {
    padding-inline: 0;
  }
}
.services__row--text {
  padding-top: 147px;
  flex-direction: column;
  row-gap: 20px;
}
@media (max-width: 1024px) {
  .services__row--text {
    padding-top: 110px;
    padding-inline: var(--container-padding-inline);
  }
}
@media (max-width: 768px) {
  .services__row--text {
    width: 80%;
    margin-inline: auto;
  }
}
@media (max-width: 480px) {
  .services__row--text {
    width: 100%;
    padding-top: 43px;
    row-gap: 14px;
  }
}
.services__title {
  font-size: clamp(1.25rem, 1.0072815534rem + 1.0355987055vw, 2.25rem);
  font-family: var(--third-family);
  font-weight: 700;
  line-height: 1;
  color: var(--color-purple-gray-100);
  text-align: center;
}
.services__description {
  font-size: clamp(0.75rem, 0.6893203883rem + 0.2588996764vw, 1rem);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.25;
  color: var(--color-purple-gray-400);
  text-align: center;
  max-width: 650px;
  margin-inline: auto;
}
.services__description--violet {
  font-weight: 700;
  color: var(--color-purple-500);
}
.services__row--features {
  width: 100%;
  padding-block: 85px 36px;
}
.services__features-grid {
  width: 1190px;
  margin-inline: auto;
  position: relative;
  display: grid;
  grid-template-rows: 257px 257px;
  grid-template-columns: 420px 1fr 420px;
  grid-template-areas: "a e c" "b e d";
}
@media (max-width: 1238px) {
  .services__features-grid {
    width: 986px;
    grid-template-columns: 318px 1fr 318px;
  }
}
@media (max-width: 1024px) {
  .services__features-grid {
    width: 100%;
    grid-template-rows: 257px 257px 257px 257px;
    grid-template-columns: 1fr;
    grid-template-areas: "a" "c" "b" "d";
  }
}
@media (max-width: 480px) {
  .services__features-grid {
    grid-template-rows: 210px 210px 210px 210px;
  }
}
.services__feature {
  display: flex;
  column-gap: 9px;
  position: relative;
}
.services__feature::after {
  content: "";
  position: absolute;
  width: 215px;
  border-top: 2px dashed var(--color-purple-gray-800);
}
@media (max-width: 1024px) {
  .services__feature {
    width: 520px;
    margin-inline: auto;
  }
  .services__feature::after {
    width: 25%;
  }
}
@media (max-width: 768px) {
  .services__feature {
    width: 100%;
    padding-inline: 40px;
  }
  .services__feature::after {
    width: 55px;
  }
}
@media (max-width: 480px) {
  .services__feature {
    column-gap: 0;
  }
}
.services__feature--content-reverse {
  flex-direction: row-reverse;
}
.services__feature--a {
  grid-area: a;
}
.services__feature--a::after {
  top: 110px;
  right: -196px;
  transform: rotate(37deg);
}
@media (max-width: 1024px) {
  .services__feature--a::after {
    top: 95px;
    right: -109px;
    transform: rotate(50deg);
  }
}
@media (max-width: 768px) {
  .services__feature--a::after {
    top: 66px;
    right: -6px;
  }
}
@media (max-width: 480px) {
  .services__feature--a::after {
    top: 46px;
  }
}
.services__feature--b {
  grid-area: b;
}
.services__feature--b::after {
  top: -19px;
  right: -196px;
  transform: rotate(-37deg);
}
@media (max-width: 1024px) {
  .services__feature--b::after {
    top: 95px;
    right: -109px;
    transform: rotate(50deg);
  }
}
@media (max-width: 768px) {
  .services__feature--b::after {
    top: 66px;
    right: -6px;
  }
}
@media (max-width: 480px) {
  .services__feature--b::after {
    top: 46px;
  }
}
.services__feature--c {
  grid-area: c;
}
.services__feature--c::after {
  top: 110px;
  left: -196px;
  transform: rotate(-37deg);
}
@media (max-width: 1024px) {
  .services__feature--c::after {
    top: 95px;
    left: -109px;
    transform: rotate(-50deg);
  }
}
@media (max-width: 768px) {
  .services__feature--c::after {
    top: 66px;
    left: -6px;
  }
}
@media (max-width: 480px) {
  .services__feature--c::after {
    top: 46px;
  }
}
.services__feature--d {
  grid-area: d;
}
.services__feature--d::after {
  top: -19px;
  left: -196px;
  transform: rotate(37deg);
}
@media (max-width: 1024px) {
  .services__feature--d::after {
    top: 95px;
    left: -109px;
    transform: rotate(-50deg);
  }
}
@media (max-width: 768px) {
  .services__feature--d::after {
    top: 66px;
    left: -6px;
  }
}
@media (max-width: 480px) {
  .services__feature--d::after {
    top: 46px;
  }
}
.services__feature--e {
  grid-area: e;
}
.services__feature-icon-decoration {
  flex-shrink: 0;
  min-width: 90px;
  min-height: 90px;
  width: 90px;
  height: 90px;
  border-radius: 21px;
  position: relative;
}
.services__feature-icon-decoration::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.services__feature-icon-decoration--data {
  background-color: #73BCFF;
}
.services__feature-icon-decoration--data::after {
  width: 138px;
  height: 160px;
  top: -55px;
  left: -35px;
  background-image: url("../../images/icons/data-management.svg");
}
.services__feature-icon-decoration--admin {
  background-color: #FFB800;
}
.services__feature-icon-decoration--admin::after {
  width: 109px;
  height: 149px;
  top: -45px;
  left: -14px;
  background-image: url("../../images/icons/admin-services.svg");
}
.services__feature-icon-decoration--development {
  background-color: #7FC6A6;
}
.services__feature-icon-decoration--development::after {
  width: 117px;
  height: 134px;
  top: -29px;
  left: -15px;
  background-image: url("../../images/icons/development-services.svg");
}
.services__feature-icon-decoration--solution {
  background-color: #FF619A;
}
.services__feature-icon-decoration--solution::after {
  width: 124px;
  height: 126px;
  top: -19px;
  left: -15px;
  background-image: url("../../images/icons/solution-architecture.svg");
}
.services__feature-textbox {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 11px 20px;
  border-top: 2px dashed var(--color-purple-gray-800);
  margin-top: 45px;
}
@media (max-width: 1238px) {
  .services__feature-textbox {
    padding-inline: 10px;
  }
}
@media (max-width: 480px) {
  .services__feature-textbox {
    margin-top: 25px;
    padding-top: 17px;
    row-gap: 8px;
  }
}
.services__feature-title {
  font-size: clamp(0.875rem, 0.7233009709rem + 0.6472491909vw, 1.5rem);
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 1.33;
  color: var(--color-black);
}
.services__feature-description {
  font-size: clamp(0.75rem, 0.6893203883rem + 0.2588996764vw, 1rem);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.37;
  color: var(--color-black);
}
.services__feature-decoration {
  position: absolute;
  left: calc(50% - 56px);
  top: 95px;
  z-index: 9;
}
@media (max-width: 1024px) {
  .services__feature-decoration {
    display: none;
  }
}

.social-networks__navigation--burger {
  width: 100%;
}
.social-networks__navigation-list {
  display: flex;
  column-gap: 8px;
}
.social-networks__navigation-list-item--pressed-right {
  margin-left: auto;
}
.social-networks__navigation-link {
  border-radius: 12px;
  padding: 12px;
  color: var(--color-purple-gray-500);
  border: var(--border-default);
  box-shadow: none;
  transition: color var(--transition), border-color var(--transition), box-shadow var(--transition);
}
.social-networks__navigation-link svg {
  position: relative;
  left: -1px;
}
@media (hover: hover) {
  .social-networks__navigation-link:hover, .social-networks__navigation-link:active, .social-networks__navigation-link:focus-visible, .social-networks__navigation-link:focus:not(:focus-visible):hover {
    border-color: var(--color-purple-500);
    color: var(--color-purple-400);
    box-shadow: 0 12px 19px 0 rgba(93, 110, 171, 0.12);
  }
  .social-networks__navigation-link:focus:not(:focus-visible) {
    color: var(--color-purple-gray-500);
    border: var(--border-default);
    box-shadow: none;
  }
}
@media (hover: none) {
  .social-networks__navigation-link:active {
    transition: none !important;
    border-color: var(--color-purple-500) !important;
    color: var(--color-purple-400) !important;
    box-shadow: 0 12px 19px 0 rgba(93, 110, 171, 0.12) !important;
  }
  .social-networks__navigation-link:hover, .social-networks__navigation-link:focus-visible, .social-networks__navigation-link:focus:not(:focus-visible):hover, .social-networks__navigation-link:focus:not(:focus-visible) {
    color: var(--color-purple-gray-500);
    border: var(--border-default);
    box-shadow: none;
  }
}
@media (max-width: 1024px) {
  .social-networks__navigation-link {
    padding: 6px;
  }
}
.social-networks__navigation-link--long {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 1.5;
  padding-inline: 25px;
  margin-left: 4px;
}
@media (max-width: 1024px) {
  .social-networks__navigation-link--long {
    font-size: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
    padding-block: 9px;
  }
}

.burger-button {
  position: absolute;
  top: 22px;
  right: 0;
  width: 20px;
  height: 14px;
  padding: 5px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.burger-button__line {
  width: 100%;
  height: 2px;
  background-color: var(--color-black);
  border-radius: 2px;
  position: relative;
}
.burger-button__line:first-child {
  transition: transform var(--transition), top var(--transition);
  width: 14px;
}
.burger-button__line:last-child {
  transition: transform var(--transition), top var(--transition), width var(--transition);
  width: 10px;
}

.burger-button--active .burger-button__line:first-child {
  width: 100%;
  transform: rotate(45deg);
  top: 6px;
}
.burger-button--active .burger-button__line:nth-child(2) {
  opacity: 0;
}
.burger-button--active .burger-button__line:last-child {
  width: 100%;
  transform: rotate(-45deg);
  top: -6px;
}

.burger-menu {
  width: 100%;
  border: 0;
  padding: 0;
  height: auto;
  z-index: 99;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
.burger-menu__wrapper {
  padding-left: 40px;
  width: 310px;
}
@media (max-width: 480px) {
  .burger-menu__wrapper {
    padding-left: 0;
    margin-inline: auto;
  }
}
.burger-menu__row--navigation {
  padding-block: 40px;
}
.burger-menu__navigation-link {
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 2.3;
  color: var(--color-purple-200);
}
.burger-menu__row--social-networks {
  padding-block: 22px;
  border-top: var(--border-default);
}
@media (min-width: 769px) {
  .burger-menu {
    display: none !important;
  }
}

.link--purple {
  display: inline-flex;
  font-size: clamp(0.75rem, 0.6893203883rem + 0.2588996764vw, 1rem);
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-purple-500);
  transition: transform var(--transition), box-shadow var(--transition);
  width: 208px;
  justify-content: center;
  padding-block: 21px;
  border-radius: 12px;
}
@media (max-width: 768px) {
  .link--purple {
    width: 144px;
    padding-block: 17px;
    border-radius: 9px;
  }
}
@media (hover: hover) {
  .link--purple:hover, .link--purple:active, .link--purple:visited {
    color: var(--color-white);
  }
  .link--purple:hover, .link--purple:focus-visible {
    transform: scale(1.03);
    box-shadow: 0 12px 30px 0 rgba(14, 68, 152, 0.15);
  }
}
@media (hover: none) {
  .link--purple:hover, .link--purple:visited, .link--purple:focus, .link--purple:focus-visible {
    color: var(--color-white);
    transform: none;
  }
}

.link--youtube {
  color: var(--color-red);
  align-items: center;
  column-gap: 15px;
}
.link--youtube svg {
  transition: transform var(--transition);
}
.link--youtube span {
  font-size: clamp(0.84375rem, 0.8361650485rem + 0.0323624595vw, 0.875rem);
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 1;
  color: var(--color-purple-gray-100);
}
@media (max-width: 480px) {
  .link--youtube span {
    display: none;
  }
}
@media (hover: hover) {
  .link--youtube:hover svg, .link--youtube:active svg, .link--youtube:visited svg, .link--youtube:focus-visible svg {
    transform: scale(1.1);
    color: var(--color-red);
  }
}
@media (hover: none) {
  .link--youtube:hover svg, .link--youtube:active svg, .link--youtube:visited svg, .link--youtube:focus-visible svg {
    transform: none;
    color: var(--color-red);
  }
}

/*# sourceMappingURL=styles.css.map */
